* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .menu img {
    width: 100px;
}

header .menu a {
    color: blue;
}

@media (max-width: 700px) {
    header .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.header .menu ul {
    list-style: none;
}

header .menu ul li {
    font-weight: bold;
    display: inline;
    padding: 10px;
}

header .mobile{
    display: none;
    background-color: var(--oscuro);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

header .mobile ul li{

    width: 60px;

    margin-top: 20px;

}

header .mobile img{
    margin-top: -40px;
    margin-bottom: -30px;
    justify-self: right;
    display: none;
}

@media (max-width: 700px){
    
    header .mobile{
        display: flex;
    }
}

#Inscribete {
    background: black;
    border-radius: 20px;
    padding: 10px;

}

#Inscribete:hover {
    background: #02c0ff;
}


@media (max-width: 700px) {
    header .desktop {
        display: none;
    }
}



#fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://localia.com/wp-content/uploads/2023/09/interior-gimnasio-equipos-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    text-align: center;
    align-items: center;
}

#planes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plan {
    background: rgba(0, 0, 255, 0.486);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}


.btn {
    background: black;
    color: blue;
    border-radius: 15px;
    padding: 8px;
}


.plan:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    background: blue;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin: 15px 0;
    transition: background 0.3s;
}

.btn:hover {
    background: #02c0ff;
}

/*pie de pagina*/
footer {
  background: #003366;   
  color: #fff;           
  text-align: center;    
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}
footer p {
  margin: 0;
}